<!DOCTYPE html>
<html lang="en">
<head>
<title>Filament</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Muli:300,400" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/jquery-ui.css">
<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="stylesheets/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="stylesheets/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="stylesheets/css/aos.css">
<link href="stylesheets/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="stylesheets/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|PT+Sans+Narrow&display=swap" rel="stylesheet">
</head>

<body>
<div class="site-wrap">
<div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
<span class="icon-close2 js-menu-toggle"></span>
</div>
</div>
<div class="site-mobile-menu-body"></div>
</div>   
<div class="col-6 d-block d-lg-none text-right">
<img src="images/Untitled-1.png" alt="Image" width="80" class="text-left">
<a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3">
</span>
</a>
</div>  



<div class="site-navbar site-navbar-target d-none pl-0 d-lg-block" role="banner" style="height: 100px;background: #007bff;">

<div class="container-fluid" style="padding: 0;">
<div class="d-flex align-items-center">

<div class="mr-auto">
<nav class="site-navigation position-relative text-right" role="navigation">
<ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
<li class="active">
<a href="/">
<img src="images/Untitled-1.png" alt="Image" width="80" >
</a>
</li>
<li >
<a href="/" class="nav-link text-left">Home</a>
</li>

<li>
<a href="3d" class="nav-link text-left">3D-Printing</a>
</li>
<li class="dropdown">
<a class="dropdown-toggle cwhite" data-toggle="dropdown" href="#">SHOPPING
<span class="caret"></span>
</a>
<ul class="dropdown-menu" style="padding-left:30px;">
<li ><a href="magic_frame" style="color:blue;"> MAGIC FRAMES</a></li>
<li ><a href="printers" style="color:blue;"> 3D PRINTERS</a></li>
<li class="drop2" style="color:blue;"><a href="filament"> FILAMENTS</a></li>

</ul>
</li>

<li><a href="gallery" class="nav-link text-left">Gallery</a></li>
<li>
<a href="about" class="nav-link text-left">About Us</a>
</li>
<li>
<a href="contact" class="nav-link text-left">Contact</a>
</li>

</ul>
<ul style="position: absolute;top: 10px;right: -95%;list-style: none;">
<li >
<a href="https://www.facebook.com/trigidtech/"><i class="fa fa-facebook-square" style="font-size:24px; padding-left:;color: white;"></i></a>
<a><i class="fa fa-twitter"  style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a href="https://www.instagram.com/trigid_technologies/"><i class="fa fa-instagram" style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a><i class="fa fa-youtube-play" style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a href="https://www.linkedin.com/company/3dclikx"><i class="fa fa-linkedin-square" style="font-size:24px; color: white;padding-left:10px;"></i><a>
<br><p></p>
//- <a href ="signup" style="color : white"><center><i class="fa fa-user" style="font-size:24px">  Signup</i></a>
</center>
</li>
</ul>
</nav>

</div>

</div>
</div>

</div>

</div>



<div class="container-fluid" style="padding-top:50px;">
<h1 class="header"><b>ABS FILAMENTS</b></h1>
<hr></hr>
<div class="row">
<div class="col-md-3" >
<figure class="card card-product">
<div class="img-wrap"> 
<img src="images/abs/ff abs black/ff abs black.jpg" style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>      
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal1"> Get Details </a>
<div class="modal fade" id="myModal1" style="margin-top:100px; color:blue;">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->

<div class="modal-header">
<h4 class="modal-title">ABSPro&HIPS</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs black/ff abs black.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs black/ff abs black 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs black/ff abs black 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->


<!--end of first card-->

<div class="col-md-3" >
<figure class="card card-product">
<div class="img-wrap"> <img src="images/abs/ff abs blue/ff abs blue.jpg"style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right">Order</a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal2">Get Details</a>
<div class="modal fade" id="myModal2" style=" margin-top : 100px; color: blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs blue/ff abs blue.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs blue/ff abs blue 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs blue/ff abs blue 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"><img src="images/abs/ff abs green/ff abs green.jpg"style="width:400px;height:200px;"> 
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal3">Get Details</a>
<div class="modal fade" id="myModal3" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs green/ff abs green.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs green/ff abs green 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs green/ff abs green 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> <img src="images/abs/ff abs grey/ff abs grey 2.jpg" style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal4"> Get Details </a>
<div class="modal fade" id="myModal4" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs grey/ff abs grey.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs grey/ff abs grey 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs grey/ff abs grey 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
</div> <!-- row.// -->

//- Row 2

<div class="row" >
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> 
<img src="images/abs/ff abs orange/ff abs orange.jpg" style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Pla-Red</span>
</div>      
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal5"> Get Details </a>
<div class="modal fade" id="myModal5" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs orange/ff abs orange.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs orange/ff abs orange 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs orange/ff abs orange 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3" >
<figure class="card card-product">
<div class="img-wrap"> <img src="images/abs/ff abs white/ff abs white2.jpg"style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right">Order</a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal6">Get Details</a>
<div class="modal fade" id="myModal6" style=" margin-top : 100px; color: blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs white/ff abs white1.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs white/ff abs white2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs white/ff abs white3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"><img src="images/abs/ff abs red/ff abs red.jpg"style="width:400px;height:200px;"> 
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal7">Get Details</a>
<div class="modal fade" id="myModal7" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs red/ff abs red.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs red/ff abs red2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs red/ff abs red3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> <img src="images/abs/ff abs yellow/ff abs yellow.jpg" style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal8"> Get Details </a>
<div class="modal fade" id="myModal8" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Advantages</li>
	<ol>
	<li>Goodtenacity,shockresistance</li>
	<li>Highsurfaceperfection,brightincolor</li>
	<li>Easytoremovesupport</li>
	<li>Lowshrinkage,stablesizeandlesswarping</li>
	<li>UpgradeversionofABS,non-crackingandhighprintingsuccessrate</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs yellow/ff abs yellow.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs yellow/ff abs yellow 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/abs/ff abs yellow/ff abs yellow 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
</div> <!-- row.// -->

//- Row 3
<div class="row" style="padding-top:30px;">
<h2 class="header"><b>PLA FILAMENTS</b></h2>
<hr align="left" width="100%">
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> 
<img src="images/pla/ff pla yellow/ff pla yellow.jpg" style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>      
<div class="action-wrap">
<a href="filamentsorder1" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal9"> Get Details </a>
<div class="modal fade" id="myModal9" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">PLA</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Characterstics</li>
	<ol>
	<li>Beharmlesstohuman,befriendlytoenvironment</li>
	<li>Lowmaterial shrinkage,stableprintingsize</li>
	<li>Printingtemp:190-220C,lowerthanotherfilament.4.Nosmokeorunpleasantsmellwhenprinting</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla yellow/ff pla yellow.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla yellow/ff pla yellow 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla yellow/ff pla yellow 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>


<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3" >
<figure class="card card-product">
<div class="img-wrap"> <img src="images/pla/ff pla silver/ff pla silver.jpg"style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder1" class="btn btn-info btn-sm float-right">Order</a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal10">Get Details</a>
<div class="modal fade" id="myModal10" style=" margin-top : 100px; color: blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Characterstics</li>
	<ol>
	<li>Beharmlesstohuman,befriendlytoenvironment</li>
	<li>Lowmaterial shrinkage,stableprintingsize</li>
	<li>Printingtemp:190-220C,lowerthanotherfilament.4.Nosmokeorunpleasantsmellwhenprinting</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla silver/ff pla silver.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla silver/ff pla silver 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla silver/ff pla silver 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"><img src="images/pla/ff pla white/ff pla white.jpg"style="width:400px;height:200px;"> 
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder1" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal11">Get Details</a>
<div class="modal fade" id="myModal11" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Characterstics</li>
	<ol>
	<li>Beharmlesstohuman,befriendlytoenvironment</li>
	<li>Lowmaterial shrinkage,stableprintingsize</li>
	<li>Printingtemp:190-220C,lowerthanotherfilament.4.Nosmokeorunpleasantsmellwhenprinting</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla white/ff pla white.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla white/ff pla white 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla white/ff pla white 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> <img src="images/pla/ff pla red/ff pla red.jpg" style="width:400px;height:200px;">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:blue;">Rs.1200</span>
</div>
<div class="action-wrap">
<a href="filamentsorder1" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal12"> Get Details </a>
<div class="modal fade" id="myModal12" style="margin-top:100px; color:blue">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
	<div class="row">
	<div class="col-md-6" style="border-right:1px solid blue;float:left">
	<ul style="color:black;font-size:20px;">
	<li>Characterstics</li>
	<ol>
	<li>Beharmlesstohuman,befriendlytoenvironment</li>
	<li>Lowmaterial shrinkage,stableprintingsize</li>
	<li>Printingtemp:190-220C,lowerthanotherfilament.4.Nosmokeorunpleasantsmellwhenprinting</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Applications</li>
	<ol>
	<li>Applytomost FFFprinters,needtobeheatedandhighdemandforprinters</li>
	<li>Printmodelsthathavehighdemandforstrengthlikependant,etc</li>
	<li>Printmodelsthatneedfollow-upprocessinglikepolishing,electroplating,etc</li>
	<li>ASsupportingmaterial,HIPScancooperatewithABStoprintmodelsthatarehollow-outorhavinglargeanglesofinclinationforHIPSdissolvesinlimoneneinnormaltemperature</li>
	</ol>
	</ul>
	<ul style="color:black;font-size:20px;">
	<li>Parameters</li>
	<ol>
	<li>Productscanbedividedintotwospecificationsaccordingtolinediameter,wirerangeof1.75mmspecification:1.70-1.80mm,wirerangeof3.00mmspecification:2.90-3.00mm</li>
	<li>Printingtemprangerecommended:220-240"C</li>
	<li>Printingspeed:60-90mm/s.4.Buildplatetemp:50-1OO"C</li>
	<li>Printingsubstrate:required</li>
	<li>Wesuggestusingperforatedplate,notusingheatresistantadhesivetapeinordertoreducewarping probabilityandensurebeautyandintegrityofprintingmodels</li>
	<li>Packagespecification:1.0Kg/roll,12roll/pcs</li>
	</li>
	</ol>
	</ul>
	</div>
	<div class="col-md-6">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla red/ff pla red.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla red/ff pla red 2.jpg" style="width:400px;height:200px;">
	<img class="img-thumbnail" style="border:1px solid blue" src="images/pla/ff pla red/ff pla red 3.jpg" style="width:400px;height:200px;">
	</div>
	</div>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
</div> <!-- row.// -->



</div> 
<!--container end-->
<script src="javascripts/js/jquery-3.3.1.min.js"></script>
<script src="javascripts/js/popper.min.js"></script>
<script src="javascripts/js/bootstrap.min.js"></script>
<script src="javascripts/js/aos.js"></script>
<script src="javascripts/js/jquery.fancybox.min.js"></script>
<script src="javascripts/js/main.js"></script>
</body>
</html>
