<html>
<title>Welcom to Trigid</title>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/signup.css">
</head>
<body>
<form method="post" action="/login">
  <div class="bg"></div>
  <div class="modal"> 
    <div class="card">
      <div class="title">Login</div>
      <div class="input-group">
        <input type="text" name="mail"placeholder="email" required=""/>
      </div>
      <div class="input-group">
        <input type="password" id="password" name="password" placeholder="password" required=""/>
      </div>
       <input type="submit" class="submit" value="Login" style=" width:300px">
       <div>
       <a href="signup"><input type="Button" class="submit" value="signup" style=" width:300px"></a>
       </div>
    </div>
  </div>
  </form>
   <script src="javascripts/signup.js"></script>
</body>
</html>