<!DOCTYPE html>
<html lang="en">
<head>
<title>MagicFrames</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Muli:300,400" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/css/card.css">
<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/jquery-ui.css">
<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="stylesheets/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="stylesheets/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="stylesheets/css/aos.css">
<link href="stylesheets/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="stylesheets/css/style.css">
<link rel="stylesheet" href="stylesheets/css/form.css">
</head>

<body>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
<span class="icon-close2 js-menu-toggle"></span>
</div>
</div>
<div class="site-mobile-menu-body"></div>
</div>   
<div class="col-6 d-block d-lg-none text-right">
<img src="images/Untitled-1.png" alt="Image" width="80" class="text-left">
<a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
<span class="icon-menu h3">
</span>
</a>
</div>  



<div class="site-navbar site-navbar-target d-none pl-0 d-lg-block" role="banner" style="height: 100px;background: #007bff;">

<div class="container-fluid" style="padding: 0;">
<div class="d-flex align-items-center">

<div class="mr-auto">
<nav class="site-navigation position-relative text-right" role="navigation">
<ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
<li class="active">
<a href="/">
<img src="images/Untitled-1.png" alt="Image" width="80" >
</a>
</li>
<li >
<a href="/" class="nav-link text-left">Home</a>
</li>

<li>
<a href="3d" class="nav-link text-left">3D-Printing</a>
</li>
<li class="dropdown">
<a class="dropdown-toggle cwhite" data-toggle="dropdown" href="#">SHOPPING
<span class="caret"></span>
</a>
<ul class="dropdown-menu" style="padding-left:30px;">
<li ><a href="magic_frame" style="color:blue;"> MAGIC FRAMES</a></li>
<li ><a href="printers" style="color:blue;"> 3D PRINTERS</a></li>
<li class="drop2" style="color:blue;"><a href="filament"> FILAMENTS</a></li>

</ul>
</li>

<li><a href="gallery" class="nav-link text-left">Gallery</a></li>
<li>
<a href="about" class="nav-link text-left">About Us</a>
</li>
<li>
<a href="contact" class="nav-link text-left">Contact</a>
</li>

</ul>
<ul style="position: absolute;top: 10px;right: -95%;list-style: none;">
<li >
<a href="https://www.facebook.com/trigidtech/"><i class="fa fa-facebook-square" style="font-size:24px; padding-left:;color: white;"></i></a>
<a><i class="fa fa-twitter"  style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a href="https://www.instagram.com/trigid_technologies/"><i class="fa fa-instagram" style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a><i class="fa fa-youtube-play" style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a href="https://www.linkedin.com/company/3dclikx"><i class="fa fa-linkedin-square" style="font-size:24px; color: white;padding-left:10px;"></i><a>
<br><p></p>
//- <a href ="signup" style="color : white"><center><i class="fa fa-user" style="font-size:24px">  Signup</i></a></center>
</li>
</ul>
</nav>

</div>

</div>
</div>

</div>

</div>
<div class="container-fluid" style="padding-top:20px;">
//- <br>  <p class="text-center">More bootstrap 4 components on <a href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com</a></p>
//- <hr>


<div class="row">
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> 
<img src="images/goldframe.jpg">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:black;">Golden Magic Frame</span>
<span class="price-new"><s style="font-size:15px;">Rs.1500</s> Rs.1200</span>
</div>      
<div class="action-wrap">
<a href="order" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal1"> Get Details </a>
<div class="modal fade" id="myModal1" >
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Golden Frame</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<p>   A gift that surprises your friend or family with magic and love.Now the added colors add more beauty to the golden magic frame. You can select the color of the box and also its your choice to decorate either with hearts or smiles.You can personalize the Golden magic frame as you love. You can add special text, select the color of the box, stickies and their color.
</p>
<h2>Specifications:</h2>
<ol>
<li>Size: 112mm*112mm</li>
<li> Standby:90mins</li>
<li>Charging time:30mins</li>
<li>Warranty:3 months</li>
<li>8-1watt leds</li>
<li>4v, 1000mah battery</li>
<li>Printed using PLA</li>
<li>Free delivery</li>
</ol>

</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> <img src="images/miniland.jpg">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:black;">Mini Magic Frame</span>
<span class="price-new"><s style="font-size:15px;">Rs.700</s> Rs.600</span>
</div>
<div class="action-wrap">
<a href="miniorder" class="btn btn-info btn-sm float-right">Order</a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal2">Get Details</a>
<div class="modal fade" id="myModal2">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Mini Magic Frame</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<p>Memories are always the best, they make us smile when we think of them. Gifting the memories in a special way is always magical. There's a texture when you look at the frame. And the real magic appears when you switch ON the lights. Your memories will glow and make you smile.
</p>
<p>You can personalize by selecting the color of the box, stickies and their color.</p>
<h2>Specifications:</h2>
<ol>
<li>Size: 112mm*112mm</li>
<li>Standby:90mins</li>
<li>Charging time:30mins</li>
<li>Warranty:3 months</li>
<li>8-1watt leds</li>
<li>4v, 1000mah battery</li>
<li>Printed using PLA</li>
<li>Free delivery</li>
</ol>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"><img src="images/miniportrait.jpg"> 
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:black;">Mini Portrait</span>
<span class="price-new"><s style="font-size:15px;">Rs.700</s> Rs.600</span>
</div>
<div class="action-wrap">
<a href="portrait" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal3">Get Details</a>
<div class="modal fade" id="myModal3">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Mini Potrait</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<p>We value our customers and their needs. Concerned with their needs and reviews, now Magic frames are available at lower prices with same performance. Where the personalisation is also available for all the models.
<p>You can personalize by selecting the color of the box, stickies and their color.</p>
</p>
<h2>Specifications:</h2>
<ol>
<li>Size: 71mm*105mm</li>
<li>Standby: 120mins</li>
<li>Charging time:30mins</li>
<li>Warranty:3 months</li>
<li>2-1watt leds</li>
<li>4v, 500mah battery</li>
<li>Printed using PLA</li>
<li>Free delivery</li>
</ol>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> <img src="images/silverframe.jpg">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:black;">Silver Magic Frame</span>
<span class="price-new"><s style="font-size:15px;">Rs.1000</s> Rs.850</span>
</div>
<div class="action-wrap">
<a href="silverorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal4"> Get Details </a>
<div class="modal fade" id="myModal4">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Silver Magicframe</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<p>We value our customers and their needs. Concerned with their needs and reviews, now Magic frames are available at lower prices with same performance. Where the personalisation is also available for all the models.
<p>You can personalize by selecting the color of the box, stickies and their color.</p>
<h2>Specifications:</h2>
<ol>
<li>Size: 100mm*73mm</li>
<li>Standby: 120mins</li>
<li>Charging time:30mins</li>
<li>Warranty:3 months</li>
<li>2-1watt leds</li>
<li>4v, 500mah battery</li>
<li>Printed using PLA</li>
<li>Free delivery</li>

</ol>
</p>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<h1 class="header">Key Chains</h1>
<hr style="background-color:red;">
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> <img src="images/key_chain5.jpg">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:black;">Key Chain</span>
<span class="price-new"><s style="font-size:15px;">Rs.400</s> Rs.350</span>
</div>
<div class="action-wrap">
<a href="keychainorder" class="btn btn-info btn-sm float-right">Order</a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal8">Get Details</a>
<div class="modal fade" id="myModal8">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Key Chain</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<p>Memories are always the best, they make us smile when we think of them. Gifting the memories in a special way is always magical. There's a texture when you look at the frame. And the real magic appears when you switch ON the lights. Your memories will glow and make you smile.
</p>
</ol>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"><img src="images/key_chain2.jpg"> 
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new" style="color:black;">Key Chain</span>
<span class="price-new"><s style="font-size:15px;">Rs.400</s> Rs.350</span>
</div>
<div class="action-wrap">
<a href="keychainorder" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal7">Get Details</a>
<div class="modal fade" id="myModal7">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Mini Potrait</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<p>We value our customers and their needs. Concerned with their needs and reviews, now Magic frames are available at lower prices with same performance. Where the personalisation is also available for all the models.
<p>You can personalize by selecting the color of the box, stickies and their color.</p>
</p>
</ol>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->


</div> <!-- row.// -->


</div> 

//- <div class="container-fluid" style="padding-top:200px;">

//- <div class="wrapper animated bounceInLeft">
//- <div class="company-info">
//- <div class="company">
//- <h2 style="color: white">Upload image Here</h2>
//- <img src="" id="profile-img-tag" width="100%"  class="img-thumbnail" width="304" height="236"/>
//- <div class="row">
//- <div class="col-md-6">
//- <input type="file" name="file" id="profile-img">
//- </div>

//- <div class="col-md-6">
//- <label style="padding-left: 24px;">Select</label> 
//- <select name="Colour" required="">
//- <option  value="Colour" class="Select">Colour</option>
//- <option  value="Red">Red</option>
//- <option  value="Black">Black</option>
//- <option  value="Blue">Blue</option>
//- <option  value="Skin">Skin</option>
//- </select>
//- </div> 
//- </div>

//- </div>
//- </div>

//- <div class="contact">
//- <h3>Email Us</h3>
//- <form>
//- <p>
//- <label>Name</label>
//- <input type="text" name="name">
//- </p>

//- <p>
//- <label>Email</label>
//- <input type="email" name="email">
//- </p>
//- <p>
//- <label>Phone</label>
//- <input type="text" name="phone">
//- </p>
//- <p>
//- <label>Caption</label>
//- <input type="text" name="Company">
//- </p>

//- <p class="full">
//- <label>Message</label>
//- <textarea name="message" rows="2"></textarea>
//- </p>
//- <p class="full">
//- <button>Submit</button>
//- </p>
//- </form>
//- </div>
//- </div>
//- </div>



<!--container end-->

//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
//- <script src="javascripts/js/form.js"></script>
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
//- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="javascripts/js/jquery-3.3.1.min.js"></script>
//- <script src="javascripts/js/jquery-migrate-3.0.1.min.js"></script>
//- <script src="javascripts/js/jquery-ui.js"></script>
<script src="javascripts/js/popper.min.js"></script>
<script src="javascripts/js/bootstrap.min.js"></script>
//- <script src="javascripts/js/owl.carousel.min.js"></script>
//- <script src="javascripts/js/jquery.stellar.min.js"></script>
//- <script src="javascripts/js/jquery.countdown.min.js"></script>
//- <script src="javascripts/js/bootstrap-datepicker.min.js"></script>
//- <script src="javascripts/js/jquery.easing.1.3.js"></script>
<script src="javascripts/js/aos.js"></script>
<script src="javascripts/js/jquery.fancybox.min.js"></script>
//- <script src="javascripts/js/jquery.sticky.js"></script>
//- <script src="javascripts/js/jquery.mb.YTPlayer.min.js"></script>
<script src="javascripts/js/main.js"></script>
</body>
</html>
