<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700|Muli:300,400" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/css/card.css">
<link rel="stylesheet" href="stylesheets/fonts/icomoon/style.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/css/jquery-ui.css">
<link rel="stylesheet" href="stylesheets/css/owl.carousel.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="stylesheets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="stylesheets/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="stylesheets/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="stylesheets/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="stylesheets/css/aos.css">
<link href="stylesheets/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="stylesheets/css/style.css">

</head>

<body>
<div class="site-wrap">

<div class="site-mobile-menu site-navbar-target">
<div class="site-mobile-menu-header">
<div class="site-mobile-menu-close mt-3">
<span class="icon-close2 js-menu-toggle"></span>
</div>
</div>
<div class="site-mobile-menu-body"></div>
</div>   
<div class="col-6 d-block d-lg-none text-right">
<img src="images/Untitled-1.png" alt="Image" width="80" class="text-left">
<a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3">
</span>
</a>
</div>  



<div class="site-navbar site-navbar-target d-none pl-0 d-lg-block" role="banner" style="height: 100px;background: #007bff;">

<div class="container-fluid" style="padding: 0;">
<div class="d-flex align-items-center">

<div class="mr-auto">
<nav class="site-navigation position-relative text-right" role="navigation">
<ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
<li class="active">
<a href="/">
<img src="images/Untitled-1.png" alt="Image" width="80" >
</a>
</li>
<li >
<a href="/" class="nav-link text-left">Home</a>
</li>

<li>
<a href="3d" class="nav-link text-left">3D-Printing</a>
</li>
<li class="dropdown">
<a class="dropdown-toggle cwhite" data-toggle="dropdown" href="#">SHOPPING
<span class="caret"></span>
</a>
<ul class="dropdown-menu" style="padding-left:30px;">
<li ><a href="magic_frame" style="color:blue;"> MAGIC FRAMES</a></li>
<li ><a href="printers" style="color:blue;"> 3D PRINTERS</a></li>
<li class="drop2" style="color:blue;"><a href="filament"> FILAMENTS</a></li>

</ul>
</li>

<li><a href="gallery" class="nav-link text-left">Gallery</a></li>
<li>
<a href="about" class="nav-link text-left">About Us</a>
</li>
<li>
<a href="contact" class="nav-link text-left">Contact</a>
</li>

</ul>
<ul style="position: absolute;top: 10px;right: -95%;list-style: none;">
<li >
<a href="https://www.facebook.com/trigidtech/"><i class="fa fa-facebook-square" style="font-size:24px; padding-left:;color: white;"></i></a>
<a><i class="fa fa-twitter"  style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a href="https://www.instagram.com/trigid_technologies/"><i class="fa fa-instagram" style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a><i class="fa fa-youtube-play" style="font-size:24px; color: white;padding-left:10px;"></i></a>
<a href="https://www.linkedin.com/company/3dclikx"><i class="fa fa-linkedin-square" style="font-size:24px; color: white;padding-left:10px;"></i><a>
<br><p></p>
//- <center><a href ="signup" style="color : white"><center><i class="fa fa-user" style="font-size:24px">  Signup</i></a>
</center>
</li>
</ul>
</nav>

</div>

</div>
</div>

</div>

</div>



<div class="container-fluid" style="padding-top:50px;">
<br>  


<div class="row">
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> 
<img src="images/flashforge dreamer1.jpg">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new">Rs.80000</span>
</div>      
<div class="action-wrap">
<a href="Order1" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal1"> Get Details </a>
<div class="modal fade" id="myModal1">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<object type="application/pdf" data="pdfs/Flashforge Dreamer NX FDM 3D Printer.pdf#zoom=85&scrollbar=0&toolbar=0&navpanes=0" width="100%" height="500"></object>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> <img src="images/flashforge finder.jpg">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new">Rs.32000</span>
</div>
<div class="action-wrap">
<a href="Order1" class="btn btn-info btn-sm float-right">Order</a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal2">Get Details</a>
<div class="modal fade" id="myModal2">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<object type="application/pdf" data="pdfs/Flashforge Finder FDM 3D Printer.pdf#zoom=85&scrollbar=0&toolbar=0&navpanes=0" width="100%" height="500"></object>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>

<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"><img src="images/creatorpro.jpg"> 
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new">Rs.76000</span>
</div>
<div class="action-wrap">
<a href="Order1" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal3">Get Details</a>
<div class="modal fade" id="myModal3">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<!-- Modal body -->
<div class="modal-body">
<object type="application/pdf" data="pdfs/Flashforge Creator Pro FDM 3D Printer.pdf#zoom=85&scrollbar=0&toolbar=0&navpanes=0" width="100%" height="500"></object>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>
s
</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> 
<img src="images/flashforge-dreamer-nx.jpg">
</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new">Rs.85000</span>
</div>
<div class="action-wrap">
<a href="Order1" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal4"> Get Details </a>
<div class="modal fade" id="myModal4">
<div class="modal-dialog modal-xl">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>


<!-- Modal body -->

<div class="modal-body">
<object type="application/pdf" data="pdfs/Flashforge Dreamer NX FDM 3D Printer.pdf#zoom=85&scrollbar=0&toolbar=0&navpanes=0" width="100%" height="500"></object>
</div>

<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
</div> <!-- row.// -->
<div class="row">
<div class="col-md-3">
<figure class="card card-product">
<div class="img-wrap"> 
<img src="images/Flashforge-Adventurer3.jpg">

</div>
<figcaption class="info-wrap">
<div class="price-wrap h5">
<span class="price-new">Rs.</span>
</div>      
<div class="action-wrap">
<a href="Order1" class="btn btn-info btn-sm float-right"> Order </a>
<a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal5"> Get Details </a>
<div class="modal fade" id="myModal5">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<!-- Modal Header -->
<div class="modal-header">
<h4 class="modal-title">Modal Heading</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>


<!-- Modal body -->
<div class="modal-body">
<object type="application/pdf" data="pdfs/Flashforge Adventurer 3 FDM 3D Printer.pdf#zoom=85&scrollbar=0&toolbar=0&navpanes=0" width="100%" height="500"></object>
</div>


<!-- Modal footer -->
<div class="modal-footer">
<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>

</div>
</div>
</div>


<!-- price-wrap.// -->
</div> <!-- action-wrap -->
</figcaption>
</figure> <!-- card // -->
</div> <!-- col // -->
//- <div class="col-md-3">
//- <figure class="card card-product">
//- <div class="img-wrap"> <img src="images/creatorpro.jpg">
//- </div>
//- <figcaption class="info-wrap">
//- <div class="price-wrap h5">
//- <span class="price-new">$280</span>
//- </div>
//- <div class="action-wrap">
//- <a href="#" class="btn btn-info btn-sm float-right">Order</a>
//- <a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal10">Get Details</a>
//- <div class="modal fade" id="myModal10">
//- <div class="modal-dialog modal-lg">
//- <div class="modal-content">

//- <!-- Modal Header -->
//- <div class="modal-header">
//- <h4 class="modal-title">Modal Heading</h4>
//- <button type="button" class="close" data-dismiss="modal">&times;</button>
//- </div>

//- <!-- Modal body -->
//- <div class="modal-body">
//- Modal body..2
//- </div>

//- <!-- Modal footer -->
//- <div class="modal-footer">
//- <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
//- </div>

//- </div>
//- </div>
//- </div>

//- <!-- price-wrap.// -->
//- </div> <!-- action-wrap -->
//- </figcaption>
//- </figure> <!-- card // -->
//- </div> <!-- col // -->
//- <div class="col-md-3">
//- <figure class="card card-product">
//- <div class="img-wrap"><img src="images/flashforge-dreamer-nx.jpg"> 
//- </div>
//- <figcaption class="info-wrap">
//- <div class="price-wrap h5">
//- <span class="price-new">$280</span>
//- </div>
//- <div class="action-wrap">
//- <a href="#" class="btn btn-info btn-sm float-right"> Order </a>
//- <a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal7">Get Details</a>
//- <div class="modal fade" id="myModal7">
//- <div class="modal-dialog modal-lg">
//- <div class="modal-content">

//- <!-- Modal Header -->
//- <div class="modal-header">
//- <h4 class="modal-title">Modal Heading</h4>
//- <button type="button" class="close" data-dismiss="modal">&times;</button>
//- </div>

//- <!-- Modal body -->
//- <div class="modal-body">
//- Modal body..3
//- </div>

//- <!-- Modal footer -->
//- <div class="modal-footer">
//- <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
//- </div>

//- </div>
//- </div>
//- </div>


//- </div> <!-- action-wrap -->
//- </figcaption>
//- </figure> <!-- card // -->
//- </div> <!-- col // -->
//- <div class="col-md-3">
//- <figure class="card card-product">
//- <div class="img-wrap"> <img src="images/Flashforge-dreamer-NX.jpg">
//- </div>
//- <figcaption class="info-wrap">
//- <div class="price-wrap h5">
//- <span class="price-new">$280</span>
//- </div>
//- <div class="action-wrap">
//- <a href="#" class="btn btn-info btn-sm float-right"> Order </a>
//- <a href="#" class="btn btn-info btn-sm float-left" data-toggle="modal" data-target="#myModal8"> Get Details </a>
//- <div class="modal fade" id="myModal8">
//- <div class="modal-dialog modal-lg">
//- <div class="modal-content">

//- <!-- Modal Header -->
//- <div class="modal-header">
//- <h4 class="modal-title">Modal Heading</h4>
//- <button type="button" class="close" data-dismiss="modal">&times;</button>
//- </div>

//- <!-- Modal body -->
//- <div class="modal-body">
//- Modal body..4
//- </div>

//- <!-- Modal footer -->
//- <div class="modal-footer">
//- <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
//- </div>

//- </div>
//- </div>
//- </div>


//- </div> <!-- action-wrap -->
//- </figcaption>
//- </figure> <!-- card // -->
//- </div> <!-- col // -->
//- </div> <!-- row.// -->




</div> 
<!--container end-->

<script src="javascripts/js/jquery-3.3.1.min.js"></script>
<script src="javascripts/js/popper.min.js"></script>
<script src="javascripts/js/bootstrap.min.js"></script>
<script src="javascripts/js/aos.js"></script>
<script src="javascripts/js/jquery.fancybox.min.js"></script>
<script src="javascripts/js/main.js"></script>
</body>
</html>
