<html>
<title>Welcom to Trigid</title>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/signup.css">
</head>
<body>
<form method="post" action="/signup">
  <div class="bg"></div>
  <div class="modal"> 
    <div class="card">
      <div class="title">Sign up</div>
      <div class="input-group">
        <input type="text" name="name" placeholder="Name" required=""/>
      </div>
      <div class="input-group">
        <input type="text" name="mail"placeholder="email" required=""/>
      </div>
      <div class="input-group">
        <input type="password" id="password" name="password" placeholder="password" required=""/>
      </div>
       <div class="input-group">
        <input type="password" id="confirm_password" name="cnfrmpassword" placeholder="password confirm" required=""/>
      </div>
      <div class="input-group">
        <input type="phonenumber" name="phonenumber" placeholder="Phonenumber" required=""/>
      </div>
       <input type="submit" class="submit" value="submit" style=" width:300px">
    </div>
  </div>
  </form>
   <script src="javascripts/signup.js"></script>
</body>
</html>